<h1>aezeed cipher seed scheme</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a ng-click="vm.showExplanation = !vm.showExplanation">Explanation</a>
    </h4>
  </div>
  <div class="panel-collapse collapse" ng-class="{in: vm.showExplanation}">
    <div class="panel-body">
      The aezeed cipher seed scheme is a scheme to create versioned seeds for crypto currency wallets, based on
      <a href="http://web.cs.ucdavis.edu/~rogaway/aez/">aez</a>.<br/><br/>
      This new scheme was first introduced with <a href="https://github.com/lightningnetwork/lnd">lnd</a>, one of the
      implementations of Lightning Network wallet software.

      <h3>Links:</h3>
      <ul>
        <li><a href="http://web.cs.ucdavis.edu/~rogaway/aez/">AEZ: Robust Authenticated Encryption</a></li>
        <li><a href="https://github.com/lightningnetwork/lnd">Lightning Network Daemon</a></li>
        <li>
          <a href="https://github.com/lightningnetwork/lnd/pull/773">
            Pull request that introduced aezeed into lnd (with documentation)
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="alert alert-warning">
  <strong>Warning</strong>: Any generated keys are for demonstration only.
  Your browser's random number generator might be too predictable to trust!
</div>

<h4>Generate mnemonic</h4>
<div class="well">
  <form class="form-horizontal">

    <!-- aezeed parameter -->
    <div class="form-group">
      <label class="col-sm-3 control-label">aezeed parameter:</label>
      <div class="col-sm-9 input-group">
        <div class="input-group-addon">Internal version</div>
        <input class="form-control"
               ng-model="vm.version"
               ng-model-options="{debounce: 1000}"
               ng-change="vm.generateSeed()"
               type="number">
        <div class="input-group-addon">Birthday (days since Bitcoin genesis block)</div>
        <input class="form-control"
               ng-model="vm.birthday"
               ng-model-options="{debounce: 1000}"
               ng-change="vm.generateSeed()"
               type="number">
      </div>
    </div>

    <!-- passphrase -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Passphrase:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control"
               ng-model="vm.passphrase"
               ng-model-options="{debounce: 1000}"
               ng-change="vm.generateSeed()"
               type="{{vm.asPassword ? 'password' : 'text'}}">
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="vm.asPassword = !vm.asPassword">
                {{vm.asPassword ? 'Show' : 'Hide'}} passphrase
            </button>
        </span>
      </div>
    </div>

    <!-- entropy hex -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Entropy and salt (hex):</label>
      <div class="col-sm-9 input-group">
        <input class="form-control"
               ng-model="vm.entropy"
               ng-model-options="{debounce: 1000}"
               ng-change="vm.generateSeed()">
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="vm.generateEntropy(); vm.generateSeed();">
                Randomize entropy
            </button>
        </span>
        <input class="form-control"
               ng-model="vm.salt"
               ng-model-options="{debounce: 1000}"
               ng-change="vm.generateSeed()">
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="vm.generateSalt(); vm.generateSeed();">
                Randomize salt
            </button>
        </span>
      </div>
    </div>

    <!-- mnemonic -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Mnemonic:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control"
               ng-class="{'well-error': vm.error}"
               value="{{vm.mnemonic}}"
               ng-readonly="true">
        <span class="input-group-addon" ng-if="vm.error" class="well-error"> {{vm.error}}</span>
      </div>
    </div>

    <!-- root key base58 -->
    <div class="form-group">
      <label class="col-sm-3 control-label">HD node root key base58:</label>
      <div class="col-sm-9 input-group as-block">
        <input class="form-control"
               style="width: 60%"
               value="{{vm.nodeBase58}}"
               ng-readonly="true">
        <span class="input-group-addon" style="width: 20%">&lt;-- paste here to import.</span>
        <select ng-model="vm.network"
                style="width: 20%"
                ng-options="network.label for network in vm.networks"
                ng-change="vm.formatBase58()"
                class="form-control">
        </select>
      </div>
    </div>

  </form>
</div>

<h4>Decode mnemonic</h4>
<div class="well">
  <form class="form-horizontal">

    <!-- mnemonic -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Mnemonic:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control"
               ng-model="vm.mnemonic2"
               ng-model-options="{debounce: 1000}"
               ng-class="{'well-error': vm.error2}"
               ng-change="vm.fromMnemonic()">
        <span class="input-group-addon" ng-if="!vm.error2">&lt;-- paste mnemonic words here to decode</span>
        <span class="input-group-addon well-error" ng-if="vm.error2"> {{vm.error2}}</span>
      </div>
    </div>

    <!-- passphrase -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Passphrase:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control"
               ng-model="vm.passphrase2"
               ng-model-options="{debounce: 1000}"
               ng-change="vm.fromMnemonic()"
               type="{{vm.asPassword ? 'password' : 'text'}}">
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="vm.asPassword = !vm.asPassword">
                {{vm.asPassword ? 'Show' : 'Hide'}} passphrase
            </button>
        </span>
      </div>
    </div>

    <!-- aezeed parameter -->
    <div class="form-group">
      <label class="col-sm-3 control-label">aezeed parameter:</label>
      <div class="col-sm-9 input-group">
        <div class="input-group-addon">Internal version</div>
        <input class="form-control"
               value="{{vm.decoded.version}}"
               ng-readonly="true">
        <div class="input-group-addon">Birthday (days since Bitcoin genesis block)</div>
        <input class="form-control"
               value="{{vm.decoded.birthday}}"
               ng-readonly="true">
      </div>
    </div>


    <!-- entropy hex -->
    <div class="form-group">
      <label class="col-sm-3 control-label"></label>
      <div class="col-sm-9 input-group">
        <div class="input-group-addon">Entropy</div>
        <input class="form-control"
               value="{{vm.decoded.entropy}}"
               ng-readonly="true">
        <div class="input-group-addon">Salt</div>
        <input class="form-control"
               value="{{vm.decoded.salt}}"
               ng-readonly="true">
      </div>
    </div>

    <!-- root key base58 -->
    <div class="form-group">
      <label class="col-sm-3 control-label">HD node root key base58:</label>
      <div class="col-sm-9 input-group as-block">
        <input class="form-control"
               style="width: 60%"
               value="{{vm.decoded.nodeBase58}}"
               ng-readonly="true">
        <span class="input-group-addon" style="width: 20%">&lt;-- paste here to import.</span>
        <select ng-model="vm.network"
                style="width: 20%"
                ng-options="network.label for network in vm.networks"
                ng-change="vm.fromMnemonic()"
                class="form-control">
        </select>
      </div>
    </div>

  </form>
</div>
