<h1>SHA256 Hash</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a ng-click="vm.showExplanation = !vm.showExplanation">Explanation</a>
        </h4>
    </div>
    <div class="panel-collapse collapse" ng-class="{in: vm.showExplanation}">
        <div class="panel-body">
            From <a href="https://en.wikipedia.org/wiki/Hash_function">Wikipedia</a>:
            A hash function is any function that can be used to map data of arbitrary size to data of fixed size.<br/><br/>
            A good hash function/algorithm that can be used in cryptography has the following properties:
            <ul>
                <li>Defined range: No matter how long the input is, the output is always of the same length</li>
                <li>Determinism: For the same input, the output will always be identical</li>
                <li>Non-invertible: From the output you can not calculate or guess the input</li>
                <li>Uniformity: Small changes in the input lead to significant changes in the output</li>
            </ul>
            For our example we use SHA256 (also called SHA-256, short for Secure Hash Algorithm 2, 256 bit) because it is the
            same hash algorithm that is currently used for the Bitcoin network.<br/>
            The output is always 256bit long which is 64 characters when encoded hexadecimally.<br/><br/>
            Below you can see SHA256 in action. Just type any data into the input field and watch how the corresponding hash changes.

            <h3>Links:</h3>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Hash_function">Hash function</a></li>
                <li><a href="https://en.wikipedia.org/wiki/SHA-2">SHA-2</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="well">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="data" class="col-sm-2 control-label">Input:</label>
            <div class="col-sm-10">
                <textarea id="data"
                          rows="10"
                          ng-model="vm.data"
                          ng-change="vm.hash = $root.sha256(vm.data)"
                          class="form-control">
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="hash" class="col-sm-2 control-label">Hash:</label>
            <div class="col-sm-10">
                <input id="hash"
                       ng-readonly="true"
                       ng-model="vm.hash"
                       class="form-control">
            </div>
        </div>
    </form>
</div>
