<h1>Blockchain
    <chain-info ng-if="$root.expertMode" blocks="vm.blocks"></chain-info>
</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a ng-click="vm.showExplanation = !vm.showExplanation">Explanation</a>
        </h4>
    </div>
    <div class="panel-collapse collapse" ng-class="{in: vm.showExplanation}">
        <div class="panel-body">
            Now we start chaining blocks together.<br/>
            Every block (except for the first) now has the hash of its predecessor in the "Prev" field.<br/><br/>
            If you change one block and it gets invalid, the whole chain from that block on will be invalid.
        </div>
    </div>
</div>

<div class="row row-horizon">
    <div class="col-xs-7 col-lg-5" ng-repeat="block in vm.blocks">
        <block number="block.number"
               nonce="block.nonce"
               data="block.data"
               hash="block.hash"
               valid="block.valid"
               prev="!block.prev ? vm.blocks[$index-1].hash : block.prev">
        </block>
    </div>
</div>