<h1>Coinbase Transactions</h1>
<div ng-repeat="peer in vm.peers">
    <h3>{{peer.name}}
        <peer-info ng-if="$root.expertMode" peers="vm.peers" peer-index="$index"></peer-info>
    </h3>
    <div class="row row-horizon">
        <div class="col-xs-7" ng-repeat="block in peer.blocks">
            <block number="block.number"
                   nonce="block.nonce"
                   data="block.data"
                   hash="block.hash"
                   valid="block.valid"
                   prev="!block.prev ? peer.blocks[$index-1].hash : block.prev">
            </block>
        </div>
    </div>
</div>