<div class="well well-sm" ng-class="{'well-success': vm.valid, 'well-error': !vm.valid}">
    <form class="form-horizontal">
        <!-- Block number -->
        <div class="form-group">
            <label for="block{{vm.id}}number" class="col-sm-2 control-label">Block:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon">#</span>
                    <input id="block{{vm.id}}number"
                           ng-model="vm.number"
                           ng-change="vm.updateBlock()"
                           class="form-control">
                </div>
            </div>
        </div>

        <!-- Nonce -->
        <div class="form-group">
            <label for="block{{vm.id}}nonce" class="col-sm-2 control-label">Nonce:</label>
            <div class="col-sm-10">
                <input id="block{{vm.id}}nonce"
                       ng-model="vm.nonce"
                       ng-change="vm.updateBlock()"
                       class="form-control">
            </div>
        </div>

        <!-- Coinbase -->
        <div class="form-group" ng-if="vm.data.coinbase">
            <label class="col-sm-2 control-label"><a ng-click="vm.showData = !vm.showData">Coinbase:</a></label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-addon">€</div>
                    <input ng-model="vm.data.coinbase.value" class="form-control">
                    <div class="input-group-addon">-&gt;</div>
                    <input ng-model="vm.data.coinbase.to" class="form-control"></div>
            </div>
        </div>

        <!-- Transactions -->
        <div class="form-group" ng-if="vm.data.txs">
            <label class="col-sm-2 control-label"><a ng-click="vm.showData = !vm.showData">Tx:</a></label>
            <div class="col-sm-10">
                <div class="input-group" ng-repeat="tx in vm.data.txs track by $index">
                    <div class="input-group-addon">€</div>
                    <input ng-model="tx.value" class="form-control">
                    <div class="input-group-addon">From:</div>
                    <input ng-model="tx.from" class="form-control">
                    <div class="input-group-addon">-&gt;</div>
                    <input ng-model="tx.to" class="form-control">
                </div>
            </div>
        </div>

        <!-- Data -->
        <div class="form-group" ng-if="vm.showData || (!vm.data.coinbase && !vm.data.txs)">
            <label for="block{{vm.id}}data" class="col-sm-2 control-label">Data:</label>
            <div class="col-sm-10">
                <textarea id="block{{vm.id}}data"
                          rows="10"
                          ng-model="vm.dataString"
                          ng-trim="false"
                          ng-change="vm.updateBlock()"
                          class="form-control">
                </textarea>
            </div>
        </div>

        <!-- Prev -->
        <div class="form-group">
            <label for="block{{vm.id}}prev" class="col-sm-2 control-label">Prev:</label>
            <div class="col-sm-10">
                <input id="block{{vm.id}}prev"
                       ng-model="vm.prev"
                       ng-readonly="true"
                       class="form-control">
            </div>
        </div>

        <!-- Hash -->
        <div class="form-group">
            <label for="block{{vm.id}}hash" class="col-sm-2 control-label">Hash:</label>
            <div class="col-sm-10">
                <input id="block{{vm.id}}hash"
                       ng-model="vm.hash"
                       ng-readonly="true"
                       class="form-control">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <div class="col-sm-2"><i class="icon-spinner icon-spin icon-large"></i></div>
            <div class="col-sm-10">
                <button data-style="expand-right" class="btn btn-primary ladda-button" ng-click="vm.mine()">
                    <span class="ladda-label">Mine</span>
                </button>
                <span ng-if="vm.mined && $root.expertMode">{{vm.miningStats}}</span>
            </div>
        </div>
    </form>
</div>
