<h1>Shamir's Secret Sharing Scheme</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a ng-click="vm.showExplanation = !vm.showExplanation">Explanation</a>
    </h4>
  </div>
  <div class="panel-collapse collapse" ng-class="{in: vm.showExplanation}">
    <div class="panel-body">
      Shamir's Secret Sharing Scheme is a way to split a secret (a password, or private key for example)
      into multiple parts, but only some parts (for example 5 out of 10) are needed to re-create the secret.

      <h3>Sources, tools and other useful information:</h3>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Shamir%27s_Secret_Sharing">Wikipedia article</a></li>
        <li><a href="https://github.com/grempe/secrets.js">Used JavaScript library</a></li>
      </ul>
    </div>
  </div>
</div>

<h4>Split secret into shares</h4>
<div class="well">
  <form class="form-horizontal">

    <!-- secret -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Secret:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control" ng-model="vm.secret" ng-change="vm.generateShares()">
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="vm.newSecret()">Generate new</button>
        </span>
      </div>
    </div>

    <!-- secrets sharing settings -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Secrets sharing settings:</label>
      <div class="col-sm-9 input-group">
        <div class="input-group-addon">Number of shares</div>
        <input class="form-control"
               ng-model="vm.numShares"
               ng-change="vm.generateShares()"
               ng-class="{'well-error': vm.error}"
               type="number">
        <div class="input-group-addon">Shares required to reconstruct</div>
        <input class="form-control"
               ng-model="vm.sharesNeeded"
               ng-change="vm.generateShares()"
               ng-class="{'well-error': vm.error}"
               type="number">
        <div class="input-group-addon">Padding length</div>
        <select ng-model="vm.minPad"
                ng-options="padding.label for padding in vm.paddingLengths"
                ng-change="vm.generateShares()"
                class="form-control">
        </select>
      </div>
      <div class="col-sm-9 col-sm-offset-3 input-group" ng-if="vm.error">
        <div class="input-group-addon well-error">{{vm.error}}</div>
      </div>
    </div>

    <!-- shares -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Shares:</label>
      <div class="col-sm-9 input-group">
        <div class="input-group" ng-repeat="share in vm.shares">
          <div class="input-group-addon">Share {{$index + 1}}</div>
          <input class="form-control"
                 ng-readonly="true"
                 value="{{share}}">
        </div>
      </div>
    </div>
  </form>
</div>

<h4>Combine shares into secret</h4>
<div class="well">
  <form class="form-horizontal">

    <!-- input shares -->
    <div class="form-group">
      <label class="col-sm-3 control-label" for="raw">Combine shares (one per line):</label>
      <div class="col-sm-9 input-group">
        <textarea id="raw"
                  rows="10"
                  ng-model="vm.shareLines"
                  ng-change="vm.parseShares()"
                  class="form-control"
                  ng-class="{'well-error': vm.error2}">
          </textarea>
      </div>
      <div class="input-group" ng-if="vm.error2">
        <div class="input-group-addon well-error">{{vm.error2}}</div>
      </div>
    </div>

    <!-- combined secret -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Combined secret:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control" ng-readonly="true" value="{{vm.combinedSecret}}">
      </div>
    </div>
  </form>
</div>
