<h1>Macaroons</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a ng-click="vm.showExplanation = !vm.showExplanation">Explanation</a>
    </h4>
  </div>
  <div class="panel-collapse collapse" ng-class="{in: vm.showExplanation}">
    <div class="panel-body">
      Macaroons are Cookies with Contextual Caveats for Decentralized Authorization in the Cloud.<br /><br />
      They are used, for example, in the <em>lnd</em> implementation of the Lightning Network.

      <h3>Sources, tools and other useful information:</h3>
      <ul>
        <li><a href="https://research.google.com/pubs/pub41892.html">Original research publication</a></li>
        <li><a href="https://github.com/go-macaroon/js-macaroon">Used JavaScript library</a></li>
      </ul>
    </div>
  </div>
</div>

<h4>Decode macaroon</h4>
<div class="well">
  <form class="form-horizontal">

    <div class="form-group">
      <label class="col-sm-4 control-label" for="hash">Hex serialized macaroon:</label>
      <div class="col-sm-8 input-group">
        <input id="hash"
               class="form-control"
               ng-model="vm.encodedMacaroon"
               ng-change="vm.decodeMacaroon()"
               ng-class="{'well-error': vm.error}">
        <span class="input-group-addon" ng-if="!vm.error">&lt;-- paste here to decode</span>
        <span class="input-group-addon well-error" ng-if="vm.error"> {{vm.error}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="json">Decoded as JSON:</label>
      <div class="col-sm-8 input-group">
        <textarea id="json" rows="20" ng-readonly="true" class="form-control">{{vm.macaroon | json}}</textarea>
      </div>
    </div>
  </form>
</div>
