<h1>Transaction Creator</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a ng-click="vm.showExplanation = !vm.showExplanation">Explanation</a>
    </h4>
  </div>
  <div class="panel-collapse collapse" ng-class="{in: vm.showExplanation}">
    <div class="panel-body">
      On this page you can create a transaction for any network/blockchain that is configured.<br/>
      The idea is that you can use this tool to create any valid transaction offline and then just
      submit it to an online wallet. This way your private key can stay offline (only if you download this tool
      and use if offline of course!).

      <h3>Sources, tools and other useful information:</h3>
      <ul>
        <li><a href="https://bitcoinjs.org/">BitcoinJS</a></li>
        <li><a href="https://github.com/bitcoinjs/bitcoinjs-lib">BitcoinJS GitHub repo</a></li>
        <li>
          <a href="https://github.com/bitcoinjs/bitcoinjs-lib/blob/master/test/integration/transactions.js#L46">
            Create a typical transaction
          </a>
        </li>
        <li>
          <a href="https://github.com/bitcoinjs/bitcoinjs-lib/blob/master/test/integration/transactions.js#L151">
            Create a SegWit P2SH (P2WPKH) transaction
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="alert alert-warning">
  <strong>Warning</strong>: This is meant as a playground only! The author does not take any responsibility for lost
  funds due to misuse
  or malfunction!
</div>

<h4>Set target network and private key</h4>
<div class="well">
  <form class="form-horizontal">

    <!-- target network -->
    <div class="form-group">
      <label class="col-sm-3 control-label">Target network:</label>
      <div class="col-sm-9 input-group">
        <select ng-model="vm.network"
                ng-options="network.label for network in vm.networks"
                class="form-control">
        </select>
      </div>
    </div>

    <!-- private key -->
    <div class="form-group">
      <label for="wifUncompressed" class="col-sm-3 control-label">Paste your private key here:</label>
      <div class="col-sm-9 input-group">
        <input id="wifUncompressed"
               ng-model="vm.keyPair.wif"
               ng-change="vm.importFromWif()"
               ng-class="{'well-error': vm.error}"
               class="form-control"><br/>
        <span class="input-group-addon" ng-if="!vm.error">Paste compressed/uncompressed key here...</span>
        <span class="input-group-addon" ng-if="vm.error" class="well-error"> {{vm.error}}</span>
      </div>
    </div>

    <!-- Source address -->
    <div class="form-group" ng-if="vm.keyValid">
      <label class="col-sm-3 control-label">Source address:</label>
      <div class="col-sm-9 input-group">
        <div class="input-group">
          <div class="input-group-addon">P2PKH</div>
          <input class="form-control" ng-disabled="true" value="{{vm.keyPair.address}}">
          <div class="input-group-addon">P2SH</div>
          <input class="form-control" ng-disabled="true" value="{{vm.keyPair.scriptAddress}}">
        </div>
      </div>
    </div>

    <!-- SegWit source address -->
    <div class="form-group" ng-if="vm.keyValid && vm.network.config.bech32">
      <label class="col-sm-3 control-label">SegWit source address:</label>
      <div class="col-sm-9 input-group">
        <div class="input-group">
          <div class="input-group-addon">P2SH-P2WPKH</div>
          <input class="form-control" ng-disabled="true" value="{{vm.keyPair.nestedP2WPKHAddress}}">
          <div class="input-group-addon">bech32 P2WPKH</div>
          <input class="form-control" ng-disabled="true" value="{{vm.keyPair.P2WPKHAddress}}">
        </div>
      </div>
    </div>
  </form>
</div>

<div ng-if="vm.keyValid">
  <h4>Input</h4>
  <div class="well">
    <form class="form-horizontal">

      <!-- input -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Input transaction (UTXO):</label>
        <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-addon">Transaction ID (txId)</div>
            <input class="form-control"
                   ng-model="vm.inputTxId"
                   ng-change="vm.createTransaction()"
                   type="text">
          </div>
          <div class="input-group">
            <div class="input-group-addon">Index (vout)</div>
            <input class="form-control"
                   ng-model="vm.inputTxVout"
                   ng-change="vm.createTransaction()"
                   type="number">
          </div>
          <div class="input-group">
            <div class="input-group-addon">Input is SegWit transaction:</div>
            <div class="input-group-addon">
              <input type="checkbox" ng-model="vm.inputSegwit">
            </div>
            <input class="form-control no-border"
                   ng-disabled="true"
                   type="text">
          </div>
          <div class="input-group">
            <div class="input-group-addon">Expected unspent amount in Satoshi (used for fee calculation)</div>
            <input class="form-control"
                   ng-model="vm.inputAmount"
                   ng-change="vm.calculateFee()"
                   type="number">
          </div>
        </div>
      </div>
    </form>
  </div>

  <h4>Outputs</h4>
  <div class="well">
    <form class="form-horizontal">

      <!-- target address -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Target address:</label>
        <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-addon">Any address</div>
            <input class="form-control"
                   ng-model="vm.outputAddress"
                   ng-change="vm.createTransaction()"
                   type="text">
            <div class="input-group-addon">Amount (satoshi!)</div>
            <input class="form-control"
                   ng-model="vm.outputAmount"
                   ng-change="vm.calculateFee()"
                   type="number">
          </div>
        </div>
      </div>

      <!-- change address -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Change address:</label>
        <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-addon">Send change to address:</div>
            <div class="input-group-addon">
              <input type="checkbox" ng-model="vm.useChange">
            </div>
            <input class="form-control no-border"
                   ng-disabled="true"
                   type="text">
          </div>
          <div class="input-group" ng-if="vm.useChange" >
            <div class="input-group-addon">Change address</div>
            <input class="form-control"
                   ng-model="vm.changeAddress"
                   ng-change="vm.createTransaction()"
                   type="text">
            <div class="input-group-addon">Amount (satoshi!)</div>
            <input class="form-control"
                   ng-model="vm.changeAmount"
                   ng-change="vm.calculateFee()"
                   type="number">
          </div>
          <div class="input-group">
            <div class="input-group">
              <div class="input-group-addon" ng-if="!vm.feeError">Calculated fee (satoshi)</div>
              <input class="form-control"
                     ng-class="{'well-error': vm.feeError}"
                     ng-disabled="true"
                     value="{{vm.feeError || vm.calculatedFee}}">
              <div class="input-group-addon" ng-if="!vm.feeError">Calculated fee (satoshi/byte)</div>
              <input class="form-control"
                     ng-class="{'well-error': vm.feeError}"
                     ng-disabled="true"
                     value="{{vm.feeError || vm.calculatedFee / (vm.raw.length * 4)}}">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <h4>Outputs</h4>
  <div class="well">
    <form class="form-horizontal">

      <!-- transaction raw hex value -->
      <div class="form-group">
        <label class="col-sm-3 control-label" for="raw">Transaction raw hex value:</label>
        <div class="col-sm-9 input-group">
          <textarea id="raw"
                    rows="10"
                    ng-disabled="true"
                    class="form-control"
                    ng-class="{'well-error': vm.txError}"
          >{{vm.txError || vm.raw}}</textarea>
        </div>
      </div>

      <!-- transaction hex -->
      <div class="form-group">
        <label class="col-sm-3 control-label">TX ID:</label>
        <div class="col-sm-9 no-left-padding">
          <input class="form-control" ng-disabled="true" value="{{vm.txId}}">
        </div>
      </div>
    </form>
  </div>
</div>
