<h1>Bitcoin Block Parser</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a ng-click="vm.showExplanation = !vm.showExplanation">Explanation</a>
        </h4>
    </div>
    <div class="panel-collapse collapse" ng-class="{in: vm.showExplanation}">
        <div class="panel-body">
            Parse and examine a block from Bitcoin's network or by pasting the binary content
            as a hex string.

            <h3>Sources, tools and other useful information:</h3>
            <ul>
                <li><a href="https://blockexplorer.com/api-ref">Blockchain Explorer API reference</a></li>
                <li><a href="https://bitcoinjs.org/">BitcoinJS</a></li>
                <li><a href="https://github.com/bitcoinjs/bitcoinjs-lib">BitcoinJS GitHub repo</a></li>
            </ul>
        </div>
    </div>
</div>

<h4>Block data</h4>
<div class="well">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">Block source API URL:</label>
            <div class="col-sm-8 input-group">
                <select ng-model="vm.selectedBlockSource"
                        ng-change="vm.downloadBlock()"
                        ng-options="source.label for source in vm.sources"
                        class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="hash">Hash of block to examine:</label>
            <div class="col-sm-8 input-group">
                <input id="hash"
                       class="form-control"
                       ng-model="vm.hash"
                       ng-change="vm.downloadBlock()"
                       ng-class="{'well-error': vm.error}">
                <span class="input-group-addon" ng-if="!vm.error">&lt;-- paste here to examine</span>
                <span class="input-group-addon well-error" ng-if="vm.error"> {{vm.error}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
                Load other examples (might take a while to load/render!):
                <ul>
                    <li>
                        <a ng-click="vm.hash = '000000000000000003d79e6973863cdb24ac6f3ddd526f61a8ff4fb684db1e9f'; vm.downloadBlock();">
                            Block #371667, 51 transactions
                        </a>
                    </li>
                    <li>
                        <a ng-click="vm.hash = '000000000000000006a62f827dd0a2caba98c178bebb175ec1fcd250e1a0159c'; vm.downloadBlock();">
                            Block #371610, 168 transactions
                        </a>
                    </li>
                    <li>
                        <a ng-click="vm.hash = '0000000000000000009a2160814712117b1f07db54887dbbb5de02173d398db3'; vm.downloadBlock();">
                            Block #496321, 300 transactions, SegWit
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="raw">Raw hex value:</label>
            <div class="col-sm-8 input-group">
        <textarea id="raw"
                  rows="10"
                  ng-model="vm.raw"
                  ng-trim="false"
                  ng-change="vm.parseBlock()"
                  class="form-control"
                  ng-class="{'well-error': vm.error}">
          </textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="json">
                <a ng-click="vm.showDecoded = !vm.showDecoded">Decoded as JSON:</a>
            </label>
            <div class="col-sm-8 input-group" ng-if="vm.showDecoded">
                <textarea id="json" rows="20" ng-readonly="true" class="form-control">{{vm.decodedBlock | json}}</textarea>
            </div>
            <div class="col-sm-8 input-group" ng-if="!vm.showDecoded">
                <textarea id="json" rows="1" ng-readonly="true"
                          class="form-control">(hidden for performance reasons, click the link to show)</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="json">Block size as seen by pre-SegWit nodes:</label>
            <div class="col-sm-8 input-group">
                <input ng-readonly="true" value="{{vm.block.legacySize}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="json">Real block size with SegWit:</label>
            <div class="col-sm-8 input-group">
                <input ng-readonly="true" value="{{vm.block.byteLength()}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="json">Block weight:</label>
            <div class="col-sm-8 input-group">
                <input ng-readonly="true" value="{{vm.block.weight}}" class="form-control">
            </div>
        </div>
    </form>
</div>

<div ng-show="!vm.error && vm.decodedBlock && vm.decodedBlock.transactions.length > 0">
    <h4>Merkle Tree</h4>
    <div id="merkleTree" class="row row-horizon" ng-show="vm.decodedBlock.transactions.length <= 200"></div>
    <div class="tooltip" id="tooltip"></div>
    <span ng-if="vm.decodedBlock.transactions.length > 200">
    Only shown up to 200 transactions due to performance reasons
  </span>
</div>

<div ng-if="!vm.error && vm.decodedBlock && vm.decodedBlock.transactions.length > 0">
    <div ng-repeat="tx in vm.decodedBlock.transactions">
        <h4 ng-init="origTx = vm.block.transactions[$index]">TX {{$index}}</h4>
        <div class="well">
            <form class="form-horizontal">
                <!-- hash -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="raw">Calculated Hash:</label>
                    <div class="col-sm-9 input-group">
                        <input ng-readonly="true" value="{{::origTx.getHash().toString('hex')}}" class="form-control">
                    </div>
                </div>

                <!-- ID -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="raw">TX ID (reversed hash):</label>
                    <div class="col-sm-9 input-group">
                        <input ng-readonly="true" value="{{::origTx.getId().toString('hex')}}" class="form-control">
                    </div>
                </div>

                <!-- misc -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="raw">Misc:</label>
                    <div class="col-sm-9 input-group">
            <span class="form-control" ng-readonly="true">
                Version: {{::tx.version}}, Locktime: {{::tx.locktime}}, is coinbase TX: {{::origTx.isCoinbase()}}, weight: {{::origTx.weight()}}
            </span>
                    </div>
                </div>

                <!-- inputs -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="raw">Inputs:</label>
                    <div class="col-sm-9 input-group">
                        <div class="well" ng-repeat="input in ::tx.ins">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Referencing TX ID:</span>
                                    <input ng-readonly="true" value="{{::vm.getTxId(input.hash)}}" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Referencing TX Output Index:</span>
                                    <input ng-readonly="true" value="{{::input.index}}" class="form-control">
                                    <span class="input-group-addon">Sequence Number:</span>
                                    <input ng-readonly="true" value="{{::input.sequence.toString(16)}}" class="form-control">
                                </div>
                                <div class="input-group" ng-if="!origTx.isCoinbase()">
                                    <span class="input-group-addon">Script:</span>
                                    <input ng-readonly="true" value="{{::input.script}}" class="form-control">
                                </div>
                                <div class="input-group" ng-if="origTx.isCoinbase()">
                                    <span class="input-group-addon">Data:</span>
                                    <input ng-readonly="true" value="{{::vm.getRawString(input.script)}}" class="form-control">
                                </div>
                                <div class="input-group" ng-if="origTx.hasWitnesses()">
                                    <span class="input-group-addon">Witness:</span>
                                    <input ng-readonly="true" value="{{::input.witness}}" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- outputs -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="raw">Outputs:</label>
                    <div class="col-sm-9 input-group">
                        <div class="well" ng-repeat="output in ::tx.outs">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Value (Raw/Satoshis):</span>
                                    <input ng-readonly="true" value="{{::output.value}}" class="form-control">
                                    <span class="input-group-addon">Value (BTCs):</span>
                                    <input ng-readonly="true" value="{{::output.value / 100000000}}" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Script:</span>
                                    <input ng-readonly="true" value="{{::output.script}}" class="form-control">
                                </div>
                                <div class="input-group" ng-if="::vm.isP2PKH(origTx.outs[$index].script)">
                                    <span class="input-group-addon">Address:</span>
                                    <input ng-readonly="true"
                                           value="{{::$root.hexPubKeyToBitcoinAddr(vm.getP2PKH(origTx.outs[$index].script))}}"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
